<div class="container">
  
    <div class="row">
      <div class="col-sm">
        <div *ngFor="let item of pets">
          <doggy-pet-short-card [pet]=item (OnPetSelected)="inParentPetSelected($event)"></doggy-pet-short-card>
        </div>
      </div>
      <div class="col-sm">
          <div *ngFor="let item of doglovers">
            <doggy-doglovers-card  [lover]=item (OnDogLoverSelected)="inParentDogLoverSelected($event)"></doggy-doglovers-card>
          </div>
      </div>
      <div class="col-sm">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm) ">
        <div class="timepicker d-flex">
          <div class="timepicker-container">
            <p>Please choice the time to pick up:</p>
            <ngb-timepicker type="time" id="timepicker" name="timepicker" [(ngModel)]="time" [meridian]="true"></ngb-timepicker>
          </div>
        </div>
        <div class='btn-order-service-container'>
          <button class="btn btn-light" type="submit">Order Service Now</button>
        </div>
        <div class="error-messages">
          <p class="error" *ngIf="submitted && dogLoverSelected == undefined">Please select the Dog to start the ride</p>
          <p class="error" *ngIf="submitted && petSelected == undefined">Please select the Dog Lover</p>
        </div>
      </form>
      </div>
    </div>
</div>
