<ng-container *ngIf="lover">
    <div class="lover-card" [ngClass]="selected ? 'dogloverSelected' : 'dogloverNotSelected'">
        <div>
            <div class="title">
                <div class="profile">
                    <div class="profile-image overflow-hidden">
                        <img src={{lover.profileImage}} class="profile-img-icon">
                    </div>
                    <div>
                        <p class="lover-name">{{ lover.name }} {{ lover.stars | StarToNumbers }}</p>
                        <p class="age">{{ lover.age | age }}</p>
                    </div>
                </div>
            </div>
            <div class="services-container d-flex">
                <!--<div [innerHtml]="lover.extra | jobs"></div>
                 <div *ngFor="let item of lover.extra">
                    <doggy-doglovers-services [lover.extra]=item></doggy-doglovers-services>
                </div> -->
                <doggy-doglovers-services [jobs]="lover.extra"></doggy-doglovers-services>
            </div>
            <div><button class="btn btn-light" (click)=dogLoverSelected(lover)>Select Your Dog Lover</button></div>
        </div>
    </div>       
</ng-container>
